@plugin "daisyui" {
  themes: false;
}
@plugin "daisyui/theme" {
  name: "newspaper";
  default: true;
  color-scheme: light;
  --color-base-100: #faf7ef;
  --color-base-200: #eee7d8;
  --color-base-300: #ccc2b0;
  --color-base-content: #292820;
  --color-primary: #463d30;
  --color-primary-content: #ffffff;
  --color-secondary: #ded2b8;
  --color-secondary-content: #292820;
  --color-accent: #885135;
  --color-accent-content: #ffffff;
  --color-neutral: #2f2c26;
  --color-neutral-content: #ffffff;
  --color-info: #dbeaf5;
  --color-info-content: #163d60;
  --color-success: #e1ebd4;
  --color-success-content: #463d30;
  --color-warning: #f3dfa5;
  --color-warning-content: #594313;
  --color-error: #f9e0d9;
  --color-error-content: #902e23;
  --radius-selector: 0.125rem;
  --radius-field: 0.125rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "newspaper-dark";
  color-scheme: dark;
  --color-base-100: #24231f;
  --color-base-200: #2e2b25;
  --color-base-300: #514c40;
  --color-base-content: #eee5d3;
  --color-primary: #dbc39b;
  --color-primary-content: #24231f;
  --color-secondary: #4e4739;
  --color-secondary-content: #eee5d3;
  --color-accent: #e0b995;
  --color-accent-content: #24231f;
  --color-neutral: #eee5d3;
  --color-neutral-content: #24231f;
  --color-error: #542c27;
  --color-error-content: #ffd0c6;
  --radius-selector: 0.125rem;
  --radius-field: 0.125rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
